<!DOCTYPE html>
<html ng-app="app" ng-controller="HttpGetController">
<head>
<meta charset="ISO-8859-1">
<title>ITCS 6160 - Database Systems | Project Group 10</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

<script>
	var app = angular.module("app", []);
	app.controller("HttpGetController", function($scope, $http) {
		
		$scope.clicked = function(paramat) {
			console.log(paramat);
			alert('Do you want remove sample '+paramat+' and mark as EXPIRED ?');
			$scope.param = paramat;
			var data = $.param({
				sampleId: $scope.param
			}); 
				
			var config = {
		        	headers : {
		            	'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8;'
					}
				}
				
				$http.post('http://localhost:8081/api/v1/removeExpiredSample', data, config)
					.then(function(response) {
						$scope.GetAllData();
					});	
		};

		$scope.GetAllData = function() {
			$http.get('http://localhost:8081/api/v1/expiredSamplesFromTheStock')
					.then(function(response) {
						console.log(response.data);
						$scope.Details = response.data;
					});
		};
	});
</script>
</head>
<body>

	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="/index.html">BLOOD BANK</a>
			</div>
			<ul class="nav navbar-nav">
				<li><a href="/index.html">Home</a></li>
				<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Sprint 2 <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="/expiredSamples.html">Expired Samples</a></li>
						<li><a href="/receptionistStock.html">Receptionist Stock</a></li>
						<li><a href="/checkSamples.html">View Sample Requests</a></li>
						<li><a href="/emergencyDonors.html">Emergency Donors</a></li>
					</ul>
				</li>
				<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Sprint 3 <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="/donorRecords.html">Donor Records</a></li>
						<li><a href="/participationRecords.html">Drive Reports</a></li>
						<li><a href="/rewardedDonors.html">Rewarded Donors</a></li>
					</ul>
				</li>
				<li><a href="/page1.html">List of Samples</a></li>
				<li><a href="/page2.html">Nurse Details</a></li>
				<li><a href="/page3.html">Newest Blood Samples</a></li>
				<li><a href="/page4.html">Blood Samples Count</a></li>
			</ul>
		</div>
	</nav>
	<div class="jumbotron text-center">
		<h1>BLOOD BANK</h1>
	</div>

	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<h4>US6 : As a blood sample keeper, I want to see the list of blood samples which are expired today, so that I can remove the expired ones.</h4>
			<br />
			<h4>Following table displays list of blood samples that have clinically expired</h4>
		</div>
		<div class="col-md-2"></div>
	</div>
	<br />
	<br />
	
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<div>
				<!-- SELECT drive.drive_id, drive.drive_date, drive.drive_capacity, drive.drive_start_time, drive.drive_end_time, address.address_line1, address.address_line2, address.city, address.state FROM drive INNER JOIN address ON drive.address_id = address.address_id WHERE drive.Nurse_reg_number = <input type="text" name="nurseregnumber" ng-model="nurseregnumber" required />; -->
				
				SELECT sample_id, blood_group, sample_taken_date, sample_expiry_date FROM sample WHERE sample_expiry_date <= curdate() && status = 'Y';
				
				<br /><br />
				View Code :<br />
				CREATE VIEW Blood_sample_keeper_to_expired_samples <br />
				AS <br />
				SELECT sample_id, blood_group, sample_taken_date, sample_expiry_date<br />
				FROM sample WHERE sample_expiry_date <= curdate() && status = 'Y';<br /><br />
				Calling Query : SELECT * FROM Blood_sample_keeper_to_expired_samples;<br /> 
				<br /> <br />
			</div>
		</div>
		<div class="col-md-2"></div>
	</div>

	<div class="row">
		<div class="col-md-5"></div>
		<button id="btnsamples" class="btn btn-primary" ng-click="GetAllData()">GET EXPIRED BLOOD SAMPLES</button>
	</div>
	<br />
	<br />

	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<div>
				<table class="table table-bordered">
					<thead>
						<tr>
							<th align="center">Sample Id</th>
							<th align="center">Blood Group</th>
							<th align="center">Sample Collection Date</th>
							<th align="center">Sample Expiry Date</th>
							<th align="center">REMOVE FROM SAMPLES</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="d in Details">

							<td align="center">{{d.sample_id}}</td>
							<td align="center">{{d.blood_group}}</td>
							<td align="center">{{d.sample_taken_date | date}}</td>
							<td align="center">{{d.sample_expiry_date | date}}</td>
							<td align="center"><button class="btn btn-primary" ng-click="clicked(d.sample_id)">REMOVE</button></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="col-md-2"></div>
	</div>
</body>
</html>