<!DOCTYPE html>
<html ng-app="app" ng-controller="HttpGetController">
<head>
<meta charset="ISO-8859-1">
<title>ITCS 6160 - Database Systems | Project Group 10</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

<script>
	var app = angular.module("app", []);
	app.controller("HttpGetController", function($scope, $http) {
	
		$scope.GetAllData = function() {
						
			var data = $.param({
                driveid: $scope.drive_id
            });
			
			var config = {
	        	headers : {
	            	'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8;'
				}
			}
			
			$http.post('http://localhost:8081/api/v1/donorDetailsForNurse', data, config)
				.then(function(response) {
				console.log(response.data);
				$scope.Details = response.data;
			});
		};

	});
</script>

</head>
<body>

	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="/index.html">BLOOD BANK</a>
			</div>
			<ul class="nav navbar-nav">
				<li class="active"><a href="/index.html">Home</a></li>
				<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Sprint 2 <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="/expiredSamples.html">Expired Samples</a></li>
						<li><a href="/receptionistStock.html">Receptionist Stock</a></li>
						<li><a href="/checkSamples.html">View Sample Requests</a></li>
						<li><a href="/emergencyDonors.html">Emergency Donors</a></li>
					</ul>
				</li>
				<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Sprint 3 <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="/donorRecords.html">Donor Records</a></li>
						<li><a href="/participationRecords.html">Drive Reports</a></li>
						<li><a href="/rewardedDonors.html">Rewarded Donors</a></li>
					</ul>
				</li>
				<li><a href="/page1.html">List of Samples</a></li>
				<li><a href="/page2.html">Nurse Details</a></li>
				<li><a href="/page3.html">Newest Blood Samples</a></li>
				<li><a href="/page4.html">Blood Samples Count</a></li>
			</ul>
		</div>
	</nav>

	<div class="jumbotron text-center">
		<h1>BLOOD BANK</h1>
	</div>

	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">

			<h4>US1 : As a Nurse, I want to see the list of Donors who came
				to a particular Drive so that I can have a brief view of the Donors.</h4>
			<br />
			<h4>Following table displays Donor details for a particular
				drive</h4>
		</div>
		<div class="col-md-2"></div>
	</div>
	<br />
	<br />

	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<div>
				SELECT donor_id, donor_firstname, donor_lastname, gender,
				blood_group from donor where donor_id in <br />(select donor_id
				from donor_Drive where drive_id = <input type="text" name="drive_id"
					ng-model="drive_id" required />; <br /> <br />
					
				DELIMITER $$<br />
					CREATE PROCEDURE `nurse_checks_list_of_donors`<br /> 
					(In Drv_id varchar(25))<br />
					BEGIN<br />
					SELECT donor_id, donor_firstname, donor_lastname, gender, blood_group FROM donor<br />
					WHERE donor_id in (select donor_id from donor_Drive where drive_id =Drv_id);<br />
					END$$<br />
				DELIMITER;<br /><br />
				
				CALL nurse_checks_list_of_donors(<input type="text" name="drive_id"
					ng-model="drive_id" required />);
				<br /><br />
			</div>
		</div>
		<div class="col-md-2"></div>
	</div>

	<div class="row">
		<div class="col-md-5"></div>
		<button class="btn btn-primary" ng-click="GetAllData()">GET
			DONOR DETAILS</button>
	</div>
	<br />
	<br />

	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<div>
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>Donor Id</th>
							<th>Donor Firstname</th>
							<th>Donor Lastname</th>
							<th>Gender</th>
							<th>Blood Group</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="d in Details">

							<td>{{d.donor_id}}</td>
							<td>{{d.donor_firstname}}</td>
							<td>{{d.donor_lastname}}</td>
							<td>{{d.gender}}</td>
							<td>{{d.blood_group}}</td>

						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="col-md-2"></div>
	</div>
</body>
</html>