<!DOCTYPE html>
<html ng-app="app" ng-controller="HttpGetController">
<head>
<meta charset="ISO-8859-1">
<title>ITCS 6160 - Database Systems | Project Group 10</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script>
	var app = angular.module("app", []);
	app.controller("HttpGetController", function($scope, $http) {

		$scope.GetAllData = function() {
			$http.get('http://localhost:8081/api/v1/bloodSampleCountByGroupForBloodSampleKeeperAP')
					.then(function(response) {
						console.log(response.data);
						$scope.apositive = response.data;
					});
		};

	});
</script>
</head>
<body>

	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="/index.html">BLOOD BANK</a>
			</div>
			<ul class="nav navbar-nav">
				<li><a href="/index.html">Home</a></li>
				<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Sprint 2 <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="/expiredSamples.html">Expired Samples</a></li>
						<li><a href="/receptionistStock.html">Receptionist Stock</a></li>
						<li><a href="/checkSamples.html">View Sample Requests</a></li>
						<li><a href="/emergencyDonors.html">Emergency Donors</a></li>
					</ul>
				</li>
				<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Sprint 3 <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="/donorRecords.html">Donor Records</a></li>
						<li><a href="/participationRecords.html">Drive Reports</a></li>
						<li><a href="/rewardedDonors.html">Rewarded Donors</a></li>
					</ul>
				</li>
				<li><a href="/page1.html">List of Samples</a></li>
				<li><a href="/page2.html">Nurse Details</a></li>
				<li><a href="/page3.html">Newest Blood Samples</a></li>
				<li class="active"><a href="/page4.html">Blood Samples
						Count</a></li>
			</ul>
		</div>
	</nav>

<div class="jumbotron text-center">
		<h1>BLOOD BANK</h1>
	</div>

	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<h4>US5 : As a Blood Sample keeper, I want to see the number of Blood Samples by blood type, so that I can check with the real Blood Samples. </h4>
			<br />
			<h4>Following table displays Blood Sample Count by Blood Group</h4>
		</div>
		<div class="col-md-2"></div>
	</div>

	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<div>
				SELECT blood_group, count(blood_group) FROM sample GROUP BY blood_group;
				
				<br /><br />
				CREATE VIEW<br/>
				Blood_Sample_keepr_checks_number_of_blood_Samples_by_blood_group AS<br/>
				SELECT blood_group, count(blood_group) FROM sample GROUP BY blood_group;<br/>
				<br/><br/>
				SELECT * FROM Blood_Sample_keepr_checks_number_of_blood_Samples_by_blood_group;
				<br/><br/>
			</div>
		</div>
		<div class="col-md-2"></div>
	</div>
	<br />
	<br />
	<div class="row">
		<div class="col-md-5"></div>
		<div class="col-md-4">
			<div>
				<button class="btn btn-primary" ng-click="GetAllData()">GET BLOOD SAMPLE COUNT</button>
				<br /> <br />
			</div>
		</div>
		<div class="col-md-2"></div>
	</div>

	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<div>
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>BLOOD GROUP</th>
							<th>QUANTITY</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="d in apositive">
							<td>{{d.blood_group}}</td>
							<td>{{d.count}}</td>
						</tr>
						<!-- <tr ng-repeat="d in anegative">
							<td>{{d.blood_group}}</td>
							<td>{{d.count}}</td>
						</tr>
						<tr ng-repeat="d in bpositive">
							<td>{{d.blood_group}}</td>
							<td>{{d.count}}</td>
						</tr>
						<tr ng-repeat="d in bnegative">
							<td>{{d.blood_group}}</td>
							<td>{{d.count}}</td>
						</tr>
						<tr ng-repeat="d in abpositive">
							<td>{{d.blood_group}}</td>
							<td>{{d.count}}</td>
						</tr>
						<tr ng-repeat="d in abnegative">
							<td>{{d.blood_group}}</td>
							<td>{{d.count}}</td>
						</tr>
						<tr ng-repeat="d in opositive">
							<td>{{d.blood_group}}</td>
							<td>{{d.count}}</td>
						</tr>
						<tr ng-repeat="d in onegative">
							<td>{{d.blood_group}}</td>
							<td>{{d.count}}</td>
						</tr> -->
					</tbody>
				</table>
			</div>
		</div>
		<div class="col-md-2"></div>
	</div>
</body>
</html>